@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/fonts/Raleway-Bold.woff") format("woff");
  src: url("/src/fonts/Raleway-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/src/fonts/Raleway-ExtraBold.woff") format("woff");
  src: url("/src/fonts/Raleway-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/fonts/Rubik-Bold.woff") format("woff");
  src: url("/src/fonts/Rubik-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/fonts/Rubik-Regular.woff") format("woff");
  src: url("/src/fonts/Rubik-Regular.woff2") format("woff2");
}